<div class="span10">
	<div class="search-div search-clients">
		<%= form_for @search, :url => first_path, :html => {:method => :get} do |f| %>
			<div class="span6">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Pretraži: </label>
						<div class="controls">
							<%= f.text_field :name_like, :class => "input-xlarge" %>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="span4">
				<fieldset>
					<div class="control-group">
						<label>&nbsp;</label>
						<%= f.submit 'Traži', :class => "btn btn-primary btn-coffee" %>
					</div>
				</fieldset>
			</div>
		<% end %>
	</div>
</div>