<div class="row-fluid main">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span8">
                            <%= render 'search' if current_page?('/suppliers') %>
                        </div>
                        <div class="span4">
                            <div class="stats_overview stats_next">
                                <div class="overview_today">
                                    <p class="overview_day">ukupno</p>
                                    <p class="overview_day"><%= @info %></p> <!-- TREBA BIT VEĆE -->
                                    <p class="overview_type">dobavljača</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid content">
        <div class="span12 content-left row-padding">
            
            <h2>Dobavljači</h2>
            
            <br />
                <div class="clients">
                    <%= render 'suppliers' %>
                </div>  
        <br />
        </div>
        <div class="span4">
        </div>

    </div>
</div>
