<div class="row-fluid">
    <div class="row-fluid content">
        <div class="span12 content-left row-padding">
    		<h2>Novi dobavljač</h2>

    		<%= render 'form' %>
                       
        </div>
        <div class="span4">
        </div>
    </div>
</div>
